.btnSesion {
    background-color: #02060b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btnInput {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#tablaDatos {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#tablaDatos th, #tablaDatos td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

#tablaDatos th {
    background-color: #f2f2f2;
}

#btnCrear,
#btnActualizar,
#btnBorrar,
#btnLeer {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.container {
    margin: 20px;
}
